<div>
	<div id="flexWrapper">
		<div id="wrapper1">
			<nav id="mainNavbar" class="m-0 p-1 navbar sticky-top navbar-light bg-light">
				<div class="container px-1">
					<div>
						<button 
							class="float-start btn btn-outline-secondary btn-sm" 
							(click)="_offCanvas.open(mainOffcanvasContent)" 
							type="button"
						>
							=
						</button>
						<div 
							ngbDropdown 
							class="float-start ms-1"
						>
							<button 
								ngbDropdownToggle 
								class="btn btn-secondary btn-sm dropdown-toggle" 
								type="button"
							>
								{{activeView|titlecase}}
							</button>
							<div 
								ngbDropdownMenu 
								class="dropdown-menu"
							>
								<button 
									ngbDropdownItem 
									*ngFor="let a of Object.keys(defaultTableData)"
									(click)="setView(a)"
									type="button"
								>
									{{a|titlecase}}
								</button>
							</div>
						</div>	
						<!-- OPERATION MODE -->
						<!--				
						<div ngbDropdown class="float-start ms-1"> 
							<button ngbDropdownToggle class="btn  btn-secondary btn-sm dropdown-toggle" type="button">
								{{operation.active|titlecase}}
								<!--{{misc.toUpperCase(operation.active)}}--><!--
							</button>
							<div ngbDropdownMenu class="dropdown-menu">
								<button 
									ngbDropdownItem
									*ngFor="let operationPointer of Object.keys(operation.mode)"
									(click)="operation.changeOperation(operationPointer)"
									type="button"
								>
									{{operationPointer|titlecase}}
								</button>
							</div>
						</div>	
						-->					
					</div>
					<div class="d-flex">
						<input 
							class="form-control form-control-sm me-1" 
							type="search" 
							placeholder="Cari.." 
							aria-label="Search"
							(input)="filter.search($event)"
						>
						<button 
							class="btn btn-outline-secondary btn-sm" 
							type="button"
							(click)="_offCanvas.open(filterOffcanvassContent)" 
						>
							Filter
						</button>
					</div>
				</div>
			</nav>
		<div id="gridTable"
			[style.width]="tableContainerStyle.width"
			[style.height]="tableContainerStyle.height"
			[style.min-width]="'50%'"

		>
			<app-data-table 
				[hidden]="!user.tableData[activeView][user.dbKey]"
				[gridOptions]="gridOptions"
				[rowData]="user.tableData?.[activeView][user.dbKey]"
				[defaultColDef]="defaultColDef"
			></app-data-table>
			<div 
				class="d-flex justify-content-center"
				*ngIf="!user.tableData?.[activeView][user.dbKey]"
			>
				<div 
					class="spinner-border" 
					role="status"
				>
			</div>
				<span class="visually-hidden">Loading...</span>
			</div>
			<!-- [overlayNoRowsTemplate]="'<div>kosong..</div>'" -->
		</div>	
		</div>
	</div>
	<!-- 
	<ng-template #dataTable>
		<app-data-table 
			[gridOptions]="gridOptions"
			[rowData]="stock.daftar[activeView].data"
			[defaultColDef]="defaultColDef"
			[overlayNoRowsTemplate]="'<div>kosong..</div>'"
		></app-data-table>
	</ng-template>
	<ng-template #emptyDataElement>
		<p>kosong..</p>
	</ng-template>
	-->
</div>

<ng-template #mainOffcanvasContent let-settingCanvas>
	<div class="offcanvas-header">
		<button type="button" class="btn-close ms-auto" (click)="settingCanvas.dismiss('Cross click')" aria-label="Close"></button>
		<!--
		<button type="button" class="" (click)="gridOptions.api.sizeColumnsToFit ()" aria-label="Close">[]</button>
		-->
	</div>
	<div class="container-fluid mb-1">
		<!--
		<app-navigation 
			[pages]="navigationPages"
		></app-navigation>
		-->
		<div class="row">
			<div class="col">
				<app-upload 
					[currentPage]="activeView"
					[uploadHandler]="_excel.postExcel"
				></app-upload>
			</div>
		</div>
		<div class="d-flex" >
			<div class="ms-0 me-auto">
				<p class="p-0 m-0">User : {{user.name}}</p>
			</div>
			<div class="ms-auto me-0">
				<button type="button" class="py-0 px-1 m-0 btn btn-outline-secondary btn-sm" (click)="user.prompt()">Ganti User</button>
			</div>
		</div>
	</div>
	<div class="container-fluid" >
		<div class="btn-group btn-group-sm" role="group">
			<button type="button" class="btn btn-outline-secondary btn-sm" (click)="_excel.downloadExcel(activeView)">Download</button>
			<button type="button" class="btn btn-outline-secondary btn-sm" (click)="refreshPage()">Refresh</button>
			<button type="button" class="btn btn-outline-secondary btn-sm" (click)="delete(getAllAgGridRows(),'stock')">Delete All</button>
			<button type="button" class="btn btn-outline-secondary btn-sm" (click)="modal.modal_3.openModal()">Tambah Data</button>
			<button type="button" class="btn btn-outline-secondary btn-sm" (click)="console.log('debugThis : ',debugThis)"><-></button>
		</div>
	</div>
	<hr>
	<div class="container">
		<h6>Kolom : </h6>
		<div class="row mx-2">
			<div 
				*ngFor="let item of gridOptions?.columnDefs"
				class="form-check col-6 "
			>
				<input 
					class="form-check-input" 
					type="checkbox" 
					[attr.for]="'inlineCheckbox'+item.field"
					value={{!item.hide}}
					[checked]="!item.hide"
					(change)="
						
						gridOptions.columnApi.setColumnVisible(item.field,!!item.hide);
						console.log('item.field',item.field);
						console.log('item.hide',!item.hide);
						misc.showHiddenColumn(item.field,!item.hide);
						gridOptions.columnApi.autoSizeAllColumns();
						adjustTableContainerSize();
						
					"
				>
				<label 
					class="form-check-label" 
					[attr.for]="'inlineCheckbox'+item.field"
				>
					{{item.field|titlecase}}
				</label>
			</div>
		</div>
	</div>
	<div *ngIf="misc.checkAdm()" class="container">
		<hr>
		<label>Api Url</label>
		<input placeholder={{apiUrl.value}} (input)="apiUrl.eventHandler($event)">
		<button (click)="apiUrl.set(apiUrl.inputValue)">Button</button>
		<p>{{apiUrl.inputValue}}</p>
		<label>Version : </label>
		<span>{{version}}</span>
	</div>
</ng-template>
<ng-template #filterOffcanvassContent let-filterCanvas>
	<div class="offcanvas-header">
		<h3>Filter</h3>
		<button type="button" class="btn-close ms-auto" (click)="filterCanvas.dismiss('Cross click')" aria-label="Close"></button>
	</div>
	<div *ngIf="activeView==='stock'" class="container-fluid">

		<button (click)="filter.setDefaultFilter('STOCK')">Reset</button>
		<hr>
		<div class="row mb-1">
			<label class="col-4">Stock : </label>
			<div class="col-8">
				<select class="form-select form-select-sm">
					<option
						(click)="filter.setFilter('STOCK','','number','greaterThanOrEqual')"
						[selected]="options.data.filterParams[activeView].STOCK.filter===''"
					>
						Semua
					</option>
					<option
						(click)="filter.setFilter('STOCK',1,'number','greaterThanOrEqual')"
						[selected]="
							options.data.filterParams[activeView].STOCK.filter===1
							&&
							options.data.filterParams[activeView].STOCK.type==='greaterThanOrEqual'"
					>
					
					
						Ada
					</option>
					<option
						(click)="filter.setFilter('STOCK',1,'number','lessThan')"
						[selected]=
							"options.data.filterParams[activeView].STOCK.filter===1
							&&
							options.data.filterParams[activeView].STOCK.type==='lessThan'"
					>
						Habis
					</option>
				</select>
			</div>
		</div>	
		<div>
			<pre>
debug

filter defaultFilterParams
{{JSON.stringify(filter.getDefaultFilterParams().stock.STOCK)}}

options.data.filterParams
{{JSON.stringify(
	options.data.filterParams[activeView].STOCK
)}}

options.data.tableOptions.stock.defaultFilterParams
{{JSON.stringify(
	options.data.tableOptions.stock.defaultFilterParams.STOCK
)}}

conditional
1=>{{options.data.filterParams[activeView].STOCK.filter===''}}
2=>{{options.data.filterParams[activeView].STOCK.filter===1
							&&
							options.data.filterParams[activeView].STOCK.type==='greaterThanOrEqual'}}
3=>{{options.data.filterParams[activeView].STOCK.filter===1
							&&
							options.data.filterParams[activeView].STOCK.type==='lessThan'}}

			</pre>
		</div>
		<hr>
		<div class="row mb-1" *ngFor="let header of Object.keys(stock.daftar[activeView].filterData)">
			<label class="col-4" for="sort">{{header|titlecase}} : </label>
			<div class="col-8">
				<select class="form-select form-select-sm" name="sort" id="sort" aria-label="Small select example">
					<option
						[attr.selected]="!filter.getCurrentFilter()[header]?'selected':null"
						(click)="filter.setFilter(header,'')"
					>Semua</option>
					<option 
						*ngFor="let filterItem of stock.daftar[activeView].filterData[header]"
						[attr.selected]="
							filter.getCurrentFilter()[header]?.filter===filterItem
							&&
							filter.getCurrentFilter()[header]?.filter!=undefined?
							'selected'
							:
							null"
						(click)="filter.setFilter(header,filterItem)"
					>
						{{filterItem}}
					</option>
				</select>
			</div>
		</div>
	</div>
	<div *ngIf="activeView==='transaksi'" class="container-fluid">
		<h3>Filter</h3>
		<button (click)="gridApi.setFilterModel(filter.getDefaultFilterParam())">Reset</button>
		<hr>
		<div class="row mb-1">
			<label>Jenis : </label>
			<div>
				<select class="form-select form-select-sm">
					<option
						(click)="filter.setFilter('jenis','','text','contains')"
						[attr.selected]="this.filter.getCurrentFilter().jenis?.filter===''
						?'selected':null"
					>
						Semua
					</option>
					<option
						(click)="filter.setFilter('jenis','masuk','text','contains')"
						[attr.selected]="
							this.filter.getCurrentFilter().jenis?.filter==='masuk'
							?'selected':null"
					>
						Masuk
					</option>
					<option
						(click)="filter.setFilter('jenis','keluar','text','contains')"
						[attr.selected]=
							"this.filter.getCurrentFilter().jenis?.filter==='keluar'
							?'selected':null"
					>
						Keluar
					</option>
					<option
						(click)="filter.setFilter('jenis','awal','text','notContains')"
						[attr.selected]=
							"this.filter.getCurrentFilter().jenis?.filter==='awal'
							&&
							this.filter.getCurrentFilter().jenis?.type==='notContains'
							?'selected':null"
					>
						Keluar dan Masuk
					</option>
					<option
						(click)="filter.setFilter('jenis','awal','text','contains')"
						[attr.selected]=
							"this.filter.getCurrentFilter().ctn?.filter==='awal'
							?'selected':null"
					>
						Stock Awal
					</option>
				</select>
			</div>
		</div>
		<div class="row mb-1">
			<label>Pajak : </label>
			<div>
				<select class="form-select form-select-sm">
					<option
						(click)="filter.setFilter('kategori','')"
						[attr.selected]="this.filter.getCurrentFilter().kategori?.filter===''
						?'selected':null"
					>
						Semua
					</option>
					<option
						(click)="filter.setFilter('kategori','Pajak')"
						[attr.selected]="
							this.filter.getCurrentFilter().kategori?.filter==='Pajak'
							?'selected':null"
					>
						Pajak
					</option>
					<option
						(click)="filter.setFilter('kategori','Non-Pajak')"
						[attr.selected]=
							"this.filter.getCurrentFilter().kategori?.filter==='Non-Pajak'
							?'selected':null"
					>
						Non-Pajak
					</option>
				</select>
			</div>
		</div>
		<hr>
		<div class="row mb-1" *ngFor="let header of Object.keys(stock.daftar[activeView].filterData)">
			<label class="col-4" for="sort">{{header|titlecase}} : </label>
			<div class="col-8">
				<select class="form-select form-select-sm" name="sort" id="sort" aria-label="Small select example">
					<option
						[attr.selected]="!this.filter.getCurrentFilter()[header]?'selected':null"
						(click)="filter.setFilter(header,'')"
					>Semua</option>
					<option 
						*ngFor="let filterItem of stock.daftar[activeView].filterData[header]"
						[attr.selected]="this.filter.getCurrentFilter()[header]?.filter===filterItem?'selected':null"
						(click)="filter.setFilter(header,filterItem)"
					>
						{{filterItem}}
					</option>
				</select>
			</div>
		</div>
	</div>

</ng-template>

<ng-template #modal_1 let-modal1>
	<app-dynamic-modal 
		[modalBody]="modalBody1"
		[modalFooter]="modalFooter1"
		[modal]="modal1"
		[modalTitle]="'Transaksi'"
	></app-dynamic-modal>
</ng-template>
<ng-template #modalBody1>
	<div>
		<div class="container-fluid">
			<div *ngFor="let item of Object.keys(modal.modal_1.data)" class="row mb-1">
				<label for="{{item+'Id'}}" 
					class="col-3 col-form-label col-form-label-sm">
					{{item}}
				</label>
				<label for="{{item+'Id'}}" 
					class="col-1 col-form-label col-form-label-sm">
					:
				</label>
				<div class="col-8">
					<p
						id="{{item+'Id'}}"
						class="form-control form-control-plaintext form-control-sm col-8" 
					>{{modal.modal_1.data[item]}}</p>
					<!--
					<input 
						style="{border:none;}" 
						type="text" 
						id="{{item+'Id'}}"
						readonly
						class="form-control form-control-plaintext form-control-sm" 
						value="{{modal.modal_1.data[item]}}"
					>
					-->
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row">
				<h4>Riwayat</h4>
			</div>
			<div class="my-3 d-flex justify-content-center" *ngIf="modal.modal_1.isLoading">
				<div class="spinner-border" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			<div class="row" 
				[hidden]="!!modal.modal_1.isLoading"
				[style.height]="'200px'"
			>
				<app-data-table 
					[gridOptions]="modal.modal_1.grid.gridOptions"
					[rowData]="null"
				></app-data-table>
			</div>
		</div>
	</div>
</ng-template>
<ng-template #modalFooter1>
	<button type="button" class="btn btn-danger me-auto" (click)="modal.modal_1.deleteFunct(modal.modal_1.data)">Hapus</button>
	<button type="button" class="btn btn-outline-dark" (click)="modal.modal_2.openModal(modal.modal_1.data)">Baru</button>
	<button type="button" class="btn btn-outline-dark" (click)="modal.modal_4.openModal(modal.modal_1.data)">Edit</button>
	<button type="button" class="btn btn-outline-dark" (click)="modal.modal_1.closeModal()">Close</button>
</ng-template>

<ng-template #modal_2 let-modal2>
	<app-dynamic-modal 
		[modalBody]="modalBody2"
		[modalFooter]="modalFooter2"
		[modal]="modal2"
		[modalTitle]="'Perubahan Stock'"
	></app-dynamic-modal>
</ng-template>
<ng-template #modalBody2>
	<div>
		<div class="container">
			<div class="row">
				<label for="l_1" class="col-3 col-form-label col-form-label-sm">Nama</label>
				<label for="l_1" class="col-1 col-form-label col-form-label-sm">:</label>
				<div class="col-8">
					<p id="l_1" class="form-control-plaintext form-control-sm">{{modal.modal_2.data.NAMA}}</p>
				</div>
			</div>
			<div class="row">
				<label for="l_2" class="col-3 col-form-label col-form-label-sm">Supplier</label>
				<label for="l_2" class="col-1 col-form-label col-form-label-sm">:</label>
				<div class="col-8">
					<p id="l_2" class="form-control-plaintext form-control-sm">{{modal.modal_2.data.SUPPLIER}}</p>
				</div>
			</div>
			<div class="row">
				<label for="l_3" class="col-3 col-form-label col-form-label-sm">Kategori</label>
				<label for="l_3" class="col-1 col-form-label col-form-label-sm">:</label>
				<div class="col-8">
					<p id="l_3" class="form-control-plaintext form-control-sm">{{modal.modal_2.data.KATEGORI}}</p>
				</div>
			</div>
			<div class="row">
				<label for="l_4" class="col-3 col-form-label col-form-label-sm">Qty/ Ctn</label>
				<label for="l_4" class="col-1 col-form-label col-form-label-sm">:</label>
				<div class="col-8">
					<p id="l_4" class="form-control-plaintext form-control-sm">{{+modal.modal_2.data.QTY+' '+modal.modal_2.data.STN+'/ Ctn'}}</p>
				</div>
			</div>
		</div>
		<div class="container">
			<form [formGroup]="modal.modal_2.form" (ngSubmit)="modal.modal_2.newTransactionSubmit()">
				<hr>
				<div class="row mb-1">
					<label for="l_5" class="col-3 col-form-label-sm">Jumlah Awal</label>
					<label for="l_5" class="col-1 col-form-label-sm">:</label>
					<div class="col-8">
						<input 
							type="text" 
							id="l_5"
							readonly
							class="form-control form-control-plaintext form-control-sm" 
							value="{{modal.modal_2.data.STOCK}}"
						>
					</div>
				</div>
				<div class="row mb-1" id="updatePrepend">
					<label for="l_6" class="col-3 col-form-label col-form-label-sm">Jumlah Akhir</label>
					<label for="l_6" class="col-1 col-form-label col-form-label-sm">:</label>
					<div class="col-8">
						<input
							onclick="this.select()" 
							type="number" 
							id="l_6"
							class="form-control form-control-sm"
							[class.is-invalid]="
								!modal.modal_2.form.get('final').valid 
								&& 
								modal.modal_2.isInteracted
							"
							[class.is-valid]="
								modal.modal_2.form.get('final').valid 
								&& 
								modal.modal_2.isInteracted
							"
							formControlName="final"
						>
						<div class="invalid-feedback">
							{{modal.modal_2.form.controls.final.errors?.message}}
						</div>
					</div>
				</div>
				<hr>
				<div class="row mb-1">
					<label for="l_7" class="col-sm-4 col-form-label col-form-label-sm">
						Perubahan
					</label>
					<div class="col-sm-4">
						<input
							type="number"
							id="l_7"
							class="form-control form-control-sm"						
							[class.is-invalid]="
								!modal.modal_2.form.get('update').valid
								&& 
								modal.modal_2.isInteracted"
							[class.is-valid]="
								modal.modal_2.form.get('update').valid
								&& 
								modal.modal_2.isInteracted
							"
							formControlName="update"
						>
						<div class="invalid-feedback">
							{{modal.modal_2.form.controls.update.errors?.message}}
						</div>
					</div>


				</div>
				<div class="row mb-1">
					<div class="col-4">
						<label for="l_8" class="col-sm-4 col-form-label col-form-label-sm">
							Jenis
						</label>
					</div>
					<div class="col-8">
						<input
							style="{border:none;}" 
							type="text"
							id="l_8"
							readonly
							class="form-control-plaintext form-control-sm"
							formControlName="jenis"
						>
					</div>
				</div>
				<div class="row mb-1">
					<div class="col-4">
						<label for="l_9" class="col-sm-4 col-form-label col-form-label-sm">
							Keterangan
						</label>
					</div>
					<div class="col-8">
						<input
							onclick="this.select()" 
							type="text"
							id="l_9"
							class="form-control form-control-sm"
							formControlName="keterangan"
						>
					</div>
				</div>
				<button id="submitButtonId" type="submit" hidden></button>
			</form>
		</div>
	</div>
</ng-template>
<ng-template #modalFooter2>
	<button type="button" class="btn btn-outline-dark" 
		[disabled]="!modal.modal_2.form.valid"
		onclick="(()=>document.getElementById('submitButtonId').click())()"
	>Submit</button>
	<button type="button" class="btn btn-outline-dark" (click)="modal.modal_2.closeModal()">Close</button>
</ng-template>

<ng-template #modal_3 let-modal3>
	<app-dynamic-modal 
		[modalBody]="modalBody3"
		[modalFooter]="modalFooter3"
		[modal]="modal3"
		[modalTitle]="'Tambah'"
	></app-dynamic-modal>
</ng-template>
<ng-template #modalBody3>
	<form
		[formGroup]="modal.modal_3.form" 
		(ngSubmit)="misc.loadingWrapper(modal.modal_3.submit,gridOptions)"
		class="container-fluid"
		autocomplete="off"
	>
		<div class="row mb-1">
			<label for="l_10" class="col-sm-3 col-form-label col-form-label-sm">
				Nama Barang
			</label>
			<div class="col-9">
				<input
					onclick="this.select()" 
					type="text"
					id="l_10"
					class="form-control form-control-sm"
					formControlName="formNama"
					[class.is-invalid]="
						!formNama.valid && (formNama.dirty || formNama.touched)
					"
				>
				<div class="invalid-feedback" *ngIf="formNama.errors && (formNama.dirty || formNama.touched)">
					{{formNama.errors?.message}}
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<label for="l_11" class="col-sm-3 col-form-label col-form-label-sm">
				Supplier
			</label>
			<div class="col-7">
				<div class="input-group ">
					<input
						onclick="this.select()" 
						type="text"
						id="l_11"
						class="form-control form-control-sm"
						list="datalistOptions-inputSupplier"
						formControlName="formSupplier"
						[class.is-invalid]="
							!formSupplier.valid && (formSupplier.dirty || formSupplier.touched)
						"
					>
					<div ngbDropdown *ngIf="modal.modal_3.getDatalist('SUPPLIER')[0]">
						<button ngbDropdownToggle class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"></button>
						<div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
							<button 
								ngbDropdownItem
								*ngFor="let a of modal.modal_3.getDatalist('SUPPLIER')"
								(click)="modal.modal_3.form.get('formSupplier').setValue(a)"
								type="button"
							>
								<a>{{a}}</a>
							</button>
						</div>
					</div>		
					<datalist id="datalistOptions-inputSupplier">
						<option 
							*ngFor="let a of modal.modal_3.getDatalist('SUPPLIER')"
							value={{a}}
						>
					</datalist>
					<div class="invalid-feedback" *ngIf="formSupplier.errors && (formSupplier.dirty || formSupplier.touched)">
						{{formSupplier.errors?.message}}
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<label for="l_12" class="col-sm-3 col-form-label col-form-label-sm">
				Qty/ Ctn
			</label>
			<div class="col-5">
				<input
					onclick="this.select()" 
					type="text"
					id="l_12"
					class="form-control form-control-sm"
					formControlName="formQty"
					[class.is-invalid]="
						!formQty.valid && (formQty.dirty || formQty.touched)
					"
				>
				<div class="invalid-feedback" *ngIf="formQty.errors && (formQty.dirty || formQty.touched)">
					{{formQty.errors?.message}}
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<label for="l_13" class="col-sm-3 col-form-label col-form-label-sm">
				Satuan
			</label>
			<div class="col-5">
				<div class="input-group">
					<input
						onclick="this.select()" 
						type="text"
						id="l_13"
						class="form-control form-control-sm"
						list="datalistOptions-inputStn"
						formControlName="formStn"
						[class.is-invalid]="
							!formStn.valid && (formStn.dirty || formStn.touched)
						"
					>
					<div ngbDropdown *ngIf="modal.modal_3?.getDatalist('STN')[0]">
						<button ngbDropdownToggle class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"></button>
						<div ngbDropdownMenu class="dropdown-menu">
							<button 
								ngbDropdownItem
								*ngFor="let a of modal.modal_3?.getDatalist('STN')"
								(click)="modal.modal_3.form.get('formStn').setValue(a)"
								type="button"
							>
								<a>{{a}}</a>
							</button>
						</div>
					</div>		
					<datalist id="datalistOptions-inputStn">
						<option 
							*ngFor="let a of modal.modal_3.getDatalist('STN')"
							value={{a}}
						>
					</datalist>
					<div class="invalid-feedback" *ngIf="formStn.errors && (formStn.dirty || formStn.touched)">
						{{formStn.errors?.message}}
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<label for="l_14" class="col-sm-3 col-form-label col-form-label-sm">
				Kategori
			</label>
			<div class="col-5">
				<select 
					class="form-select form-sm" 
					aria-label="Default select example"
					formControlName="formKategori"
					[class.is-invalid]="
						!formKategori.valid && (formKategori.dirty || formKategori.touched)
					"
				>

					
					<option>PAJAK</option>
					<option>GLOBAL</option>
					<option>IMPORT</option>
				</select>
				<div class="invalid-feedback" *ngIf="formKategori.errors && (formKategori.dirty || formKategori.touched)">
					{{formKategori.errors?.message}}
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<label for="l_15" class="col-sm-3 col-form-label col-form-label-sm">
				Ctn
			</label>
			<div class="col-5">
				<input
					onclick="this.select()" 
					type="text"
					id="l_15"
					class="form-control form-control-sm"
					formControlName="formCtn"
					[class.is-invalid]="
						!formCtn.valid && (formCtn.dirty || formCtn.touched)
					"
				>
				<div class="invalid-feedback" *ngIf="formCtn.errors && (formCtn.dirty || formCtn.touched)">
					{{formCtn.errors?.message}}
				</div>
			</div>
		</div>
		<button button id="submitButtonId" hidden type="submit">submit</button>
	</form>
	
</ng-template>
<ng-template #modalFooter3>
	<button type="button" class="btn btn-outline-dark" (click)="console.log(modal.modal_3.getDatalist('supplier'))">1</button>
	<button 
		type="button" 
		[disabled]="!modal.modal_3.form.valid||!modal.modal_3.isReadyToSubmit"
		class="btn btn-outline-dark" 
		onclick="(()=>document.getElementById('submitButtonId').click())()"
	>
		Submit
	</button>
	<button type="button" class="btn btn-outline-dark" (click)="modal.modal_3.closeModal()">Close</button>
</ng-template>

<ng-template #modal_4 let-modal4>
	<app-dynamic-modal 
		[modalBody]="modalBody4"
		[modalFooter]="modalFooter4"
		[modal]="modal4"
		[modalTitle]="'Tambah'"
	></app-dynamic-modal>
</ng-template>
<ng-template #modalBody4>
	<form
		[formGroup]="modal.modal_4.form" 
		(ngSubmit)="misc.loadingWrapper(modal.modal_4.submit,gridOptions)"
		class="container-fluid"
		autocomplete="off"
	>
		<div class="row mb-1">
			<label for="l_10" class="col-sm-3 col-form-label col-form-label-sm">
				Nama Barang
			</label>
			<div class="col-9">
				<input
					onclick="this.select()" 
					type="text"
					id="l_10"
					class="form-control form-control-sm"
					autocomplete="off"
					name="nama"
					formControlName="formNama"
					[class.is-invalid]="
						!formNama.valid && (formNama.dirty || formNama.touched)
					"
				>
				<div class="invalid-feedback" *ngIf="formNama.errors && (formNama.dirty || formNama.touched)">
					{{formNama.errors?.message}}
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<label for="l_11" class="col-sm-3 col-form-label col-form-label-sm">
				Supplier
			</label>
			<div class="col-7">
				<div class="input-group ">
					<input
						onclick="this.select()" 
						type="text"
						id="l_11"
						class="form-control form-control-sm"
						autocomplete="off"
						name="supplier"
						list="datalistOptions-inputSupplier"
						formControlName="formSupplier"
						[class.is-invalid]="
							!formSupplier.valid && (formSupplier.dirty || formSupplier.touched)
						"
					>

					<div ngbDropdown>
						<button ngbDropdownToggle class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"></button>
						<div ngbDropdownMenu class="dropdown-menu">
							<button 
								ngbDropdownItem
								*ngFor="let a of modal.modal_4.getDatalist('supplier')"
								(click)="modal.modal_4.form.get('formSupplier').setValue(a)"
								type="button"
							>
								<a>{{a}}</a>
							</button>
						</div>
					</div>		
					<datalist id="datalistOptions-inputSupplier">
						<option 
							*ngFor="let a of modal.modal_4.getDatalist('supplier')"
							value={{a}}
						>
					</datalist>
					<div class="invalid-feedback" *ngIf="formSupplier.errors && (formSupplier.dirty || formSupplier.touched)">
						{{formSupplier.errors?.message}}
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-1">
			<label for="l_12" class="col-sm-3 col-form-label col-form-label-sm">
				Qty/ Ctn
			</label>
			<div class="col-4">
				<input
					onclick="this.select()" 
					type="text"
					id="l_12"
					class="form-control form-control-sm"
					autocomplete="off"
					name="qty"
					formControlName="formQty"
					[class.is-invalid]="
						!formQty.valid && (formQty.dirty || formQty.touched)
					"
				>
				<div class="invalid-feedback" *ngIf="formQty.errors && (formQty.dirty || formQty.touched)">
					{{formQty.errors?.message}}
				</div>
			</div>
		</div>
		<div class="row mb-1">
		
			<label for="l_13" class="col-sm-3 col-form-label col-form-label-sm">
				Satuan
			</label>
			<div class="col-4">
				<div class="input-group">
					<input
						onclick="this.select()" 
						type="text"
						id="l_13"
						class="form-control form-control-sm"
						autocomplete="off"
						name="stn"
						list="datalistOptions-inputStn"
						formControlName="formStn"
						[class.is-invalid]="
							!formStn.valid && (formStn.dirty || formStn.touched)
						"
					>
					<div ngbDropdown>
						<button ngbDropdownToggle class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"></button>
						<div ngbDropdownMenu class="dropdown-menu">
							<button 
								ngbDropdownItem
								*ngFor="let a of modal.modal_4.getDatalist('stn')"
								(click)="modal.modal_4.form.get('formStn').setValue(a)"
								type="button"
							>
								<a>{{a}}</a>
							</button>
						</div>
					</div>		
					<datalist id="datalistOptions-inputStn">
						<option 
							*ngFor="let a of modal.modal_4.getStnFilterData()"
							value={{a}}
						>
					</datalist>
					<div class="invalid-feedback" *ngIf="formStn.errors && (formStn.dirty || formStn.touched)">
						{{formStn.errors?.message}}
					</div>
				</div>
			</div>
		</div>
		
		<div class="row mb-1">
			<label for="l_14" class="col-sm-3 col-form-label col-form-label-sm">
				Kategori
			</label>
			<div class="col-4">
				<select 
					class="form-select form-select-sm" 
					aria-label="Default select example"
					formControlName="formKategori"
					[class.is-invalid]="
						!formKategori.valid && (formKategori.dirty || formKategori.touched)
					"
				>
					<option>PAJAK</option>
					<option>GLOBAL</option>
					<option>IMPORT</option>
				</select>
				<div class="invalid-feedback" *ngIf="formKategori.errors && (formKategori.dirty || formKategori.touched)">
					{{formKategori.errors?.message}}
				</div>
			</div>
		</div>
		<button button id="submitButtonId" hidden type="submit">submit</button>
	</form>
</ng-template>
<ng-template #modalFooter4>
	<button 
		type="button" 
		class="btn btn-outline-dark" 
		(click)="modal.modal_4.resetForm()"
	>
		Reset
	</button>
	<button 
		type="button" 
		class="btn btn-outline-dark" 
		[disabled]="!modal.modal_4.form.valid||!modal.modal_4.isReadyToSubmit"
		onclick="(()=>document.getElementById('submitButtonId').click())()"
	>
		Submit
	</button>
	<button type="button" class="btn btn-outline-dark" (click)="modal.modal_4.closeModal()">Close</button>
</ng-template>