@import 'ag-grid-community/styles/ag-grid.css';
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-alpine {
  --ag-grid-size: 3px;
  --ag-list-item-height: 20px;
  --ag-font-size: 10px;
}

html,body{
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}


html {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0px;
	margin: 0;
	height: 100%;
	width:100%;
	position:absolute;
	overflow:hidden;
}

body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	overflow: hidden;
}

div.max-container{
	box-sizing:border-box;
}

