/* You can add global styles to this file, and also import other style files */


body {
	overflow: auto;
}

.form-control.is-invalid-xs{
	border-color:red;
}

dynamic-hide{
	
	hidden:true;
}

ag-icon{
	hidden:true;
}


#flexWrapper{
	justify-content: center;
	display: flex;
}