.ag-theme-alpine {
	--ag-grid-size: 5px;
	--ag-list-item-height: 10px;
	--ag-font-size: 10px;
	--ag-row-height:10px;
    --ag-font-family: Arial;
}
div.table-container{
	margin-top:5px;
	margin-bottom:5px;
}

button.nav-states-handler-button {
	--ag-font-size: 10px;
}