<div id="gridTable" 
	[style.width]="tableContainerStyle.width" 
	[style.height]="tableContainerStyle.height"
>
	<nav id="navbarId" class="m-0 p-1 navbar sticky-top navbar-light bg-light">
		<div class="container-fluid px-1">
			<div class="d-flex">
				<button class="float-start btn btn-outline-secondary btn-sm" (click)="_offCanvas.open(mainOffcanvasContent)" type="button">=</button>
				<button 
					[ngClass]="activeView===a?{'active':true}:null"
					*ngFor="let a of viewArr"
					class="float-start btn btn-outline-secondary btn-sm ms-2" 
					(click)="changeView(a)"
					type="button"
				>
					{{a.toUpperCase()}}
				</button>
			</div>
			
			<div class="d-flex">
				<input 
					class="form-control me-2" 
					type="search" 
					placeholder="Cari.." 
					aria-label="Search"
					(input)="filter.search($event)"
				>
				<button 
					class="btn btn-outline-secondary btn-sm" 
					type="button"
					(click)="_offCanvas.open(filterOffcanvassContent)" 
				>
					Filter
				</button>

			</div>
	</div>
	</nav>
	<ng-container *ngIf="stock.raw.length>0;then dataTable; else emptyDataElement"></ng-container>
	<ng-template #dataTable>
		<app-data-table 
			[gridOptions]="gridOptions"
			[rowData]="stock.stock[activeView].data"
			[defaultColDef]="defaultColDef"
		></app-data-table>
	</ng-template>
	<ng-template #emptyDataElement>
		<p>kosong..</p>
	</ng-template>
</div>

<ng-template #mainOffcanvasContent>
	<div class="container-fluid">
		<app-navigation 
			[pages]="navigationPages"
		></app-navigation>
		<div class="row mb-1">
			<div class="col">
				<app-upload 
					[currentPage]="currentPage"
					[uploadHandler]="_excel.postExcel"
				></app-upload>
			</div>
		</div>
	</div>
	<div class="container-fluid" >
		<div class="btn-group btn-group-sm" role="group">
			<button type="button" class="btn btn-outline-secondary btn-sm" (click)="_excel.downloadExcel(currentPage)">Download</button>
			<button type="button" class="btn btn-outline-secondary btn-sm" (click)="refresh()">Refresh</button>
		</div>
	</div>
</ng-template>

<ng-template #filterOffcanvassContent>
	<div *ngIf="activeView==='daftar'" class="container-fluid">
		<h3>Filter</h3>
		<button (click)="gridApi.setFilterModel(filter.defaultFilterParam)">Reset</button>
		<hr>
		<div class="row mb-1">
			<label>Stock : </label>
			<div>
				<select class="form-select form-select-sm">
					<option
						(click)="filter.setFilter('ctn','','number','greaterThanOrEqual')"
						[attr.selected]="this.filter.getCurrentFilter().ctn?.filter===''?'selected':null"
					>
						Semua
					</option>
					<option
						(click)="filter.setFilter('ctn',1,'number','greaterThanOrEqual')"
						[attr.selected]="
							this.filter.getCurrentFilter().ctn?.filter===1
							&&
							this.filter.getCurrentFilter().ctn?.type==='greaterThanOrEqual'
							?'selected':null"
					>
						Ada
					</option>
					<option
						(click)="filter.setFilter('ctn',1,'number','lessThan')"
						[attr.selected]=
							"this.filter.getCurrentFilter().ctn?.filter===1
							&&
							this.filter.getCurrentFilter().ctn?.type==='lessThan'
							?'selected':null"
					>
						Habis
					</option>
				</select>
			</div>
		</div>
		<div class="row mb-1">
			<label>Pajak : </label>
			<div>
				<select  class="form-select form-select-sm">
					<option
						(click)="filter.setFilter('kategori','')"
						[attr.selected]="!this.filter.getCurrentFilter().kategori?.filter?'selected':null"
					>
						Semua
					</option>
					<option
						(click)="filter.setFilter('kategori','PAJAK')"
						[attr.selected]="this.filter.getCurrentFilter().kategori?.filter==='PAJAK'?'selected':null"
					>
						Pajak
					</option>
					<option
						(click)="filter.setFilter('kategori','Non-Pajak')"
						[attr.selected]="this.filter.getCurrentFilter().kategori?.filter==='Non-Pajak'?'selected':null"
					>
						Non-Pajak
					</option>
				</select>
			</div>
		</div>		
		<hr>
		<div class="row mb-1" *ngFor="let header of Object.keys(stock.stock[activeView].filterData)">
			<label class="col-4" for="sort">{{header}} : </label>
			<div class="col-8">
				<select class="form-select form-select-sm" name="sort" id="sort" aria-label="Small select example">
					<option
						[attr.selected]="!this.filter.getCurrentFilter()[header]?'selected':null"
						(click)="filter.setFilter(header,'')"
					>Semua</option>
					<option 
						*ngFor="let filterItem of stock.stock[activeView].filterData[header]"
						[attr.selected]="this.filter.getCurrentFilter()[header]?.filter===filterItem?'selected':null"
						(click)="filter.setFilter(header,filterItem)"
					>
						{{filterItem}}
					</option>
				</select>
			</div>
		</div>
	</div>
	<div *ngIf="activeView==='transaksi'" class="container-fluid">
		<h3>Filter</h3>
		<button (click)="gridApi.setFilterModel(filter.defaultFilterParam)">Reset</button>
	</div>
</ng-template>


