<div>
	<app-upload 
		[currentPage]="currentPage"
		[uploadHandler]="post"
	></app-upload>
	<button (click)="deleteAll(currentPage)">deleteAll</button>
	<button (click)="testFunc()">TEST</button>
</div>
<div class="placeholder">
	<app-data-table *ngIf="isLoaded && dataIsNotEmpty" 
		[selectedDataId]="selectedDataId"
		[gridOptions]="gridOptions"
		[rowData]="rowData"
		[gridApi]="gridApi"
		[gridColumnApi]="gridColumnApi"
		[defaultColDef]="defaultColDef"
		[deleteHandler]="precisionDelete" 
		[activeNav]="activeNav"
		[navStates]="navStates"
	></app-data-table>
	<div *ngIf="!isLoaded">
		<p>.........</p>
	</div>
	<div *ngIf="isLoaded && !dataIsNotEmpty">
		<p>{{message.dataIsEmpty}}</p>
	</div>
</div>