<div #a>
	<app-upload 
		[currentPage]="currentPage"
		[uploadHandler]="post"
	></app-upload>
	<button (click)="deleteAll(currentPage)">deleteAll</button>
	<!--<button (click)="alert('testButtonClicked')">TEST</button>-->
</div>
<div>
	<app-data-table *ngIf="isLoaded && dataIsNotEmpty &&!errMessage" 
		[selectedDataId]="selectedDataId"
		[gridOptions]="gridOptions"
		[rowData]="rowData"
		[gridApi]="gridApi"
		[gridColumnApi]="gridColumnApi"
		[defaultColDef]="defaultColDef"
		[deleteHandler]="precisionDelete" 
		[activeNav]="activeNav"
		[navStates]="navStates"
		[refresh]="refresh"
		[downloadExcel]="downloadExcel"
		[dbName]="currentPage"
	></app-data-table>
	<div *ngIf="!isLoaded" class="spinner-border m-1" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
	<div *ngIf="isLoaded && !dataIsNotEmpty &&!errMessage">
		<p>{{message.dataIsEmpty}}</p>
	</div>
	<div *ngIf="isLoaded && errMessage">
		<h1>{{errMessage.message}}</h1>
		<h2>{{errMessage.status}}</h2>
		<pre>{{errMessage.stack}}</pre>
	</div>
	

</div>
<ng-template #ABC let-modal>
	<app-dynamic-modal 
		[modalBody]="modalBody"
		[modalFooter]="modalFooter"
		[modal]="modal"
		[modalRef]="modalRef"
		[selectedDataId]="selectedDataId"
	></app-dynamic-modal>
</ng-template>

<ng-template #modalBody>
	<div>
		<div>
			<p><label>Seri</label> : <span>{{modalData.Seri}}</span><p>
			<p><label>Jenis</label> : <span>{{modalData.Jenis}}</span><p>
			<p><label>Qty</label> : <span>{{modalData.Qty}}</span><p>
			<p><label>Kode</label> : <span>{{modalData.Kode}}</span><p>
			<p><label>Ctn</label> : <span>{{modalData.Ctn}}</span><p>
		</div>
		<div>
			<h6>Riwayat Transaksi</h6>
			<div style="margin-left:20%">
				<span *ngFor="let item of modalData.transaction">
					<hr>
					<p *ngFor="let pointer of Object.keys(item)"><label>{{pointer}}</label> : {{item[pointer]}}</p>
				</span>
			</div>
		</div>
	</div>
	
</ng-template>
<ng-template #modalFooter>
	<button type="button" class="btn btn-outline-dark" (click)="closeModal()">Save</button>
	<button type="button" class="btn btn-outline-dark" (click)="closeModal()">Save</button>
</ng-template>
